<header class="border-b bg-white">
  <div class="container flex h-16 items-center justify-between px-4 mx-auto">
    <%= link_to root_path, class: 'flex items-center gap-2' do %>
      <span class="material-symbols-rounded text-emerald-600">home</span> 
      <span class="font-semibold text-emerald-600">ZiHeR / <%= ENV["ZIHER_APP_NAME"] %></span>
    <% end %>

    <nav class="flex items-center space-x-1">
      <% if user_signed_in? %>
        <button class="btn btn-ghost <%= menu_active?(:journal_finance) %>"><%= link_to "Książka finansowa", default_finance_journal_path %></button>
        <button class="btn btn-ghost <%= menu_active?(:journal_bank) %>"><%= link_to "Książka bankowa", default_bank_journal_path %></button>

        <li class="<%= menu_active?(:inventory) %>"> <%= link_to "Książka inwentarzowa", inventory_entries_path %> </li>


        <li class="dropdown <%= menu_active?(:reports_dropdown) %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Raporty <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="<%= menu_active?(:finance_report) %>"> <%= link_to "Sprawozdanie finansowe", finance_report_path %> </li>
            <li class="<%= menu_active?(:finance_one_percent_report) %>"> <%= link_to "Sprawozdanie finansowe dla 1%", finance_one_percent_report_path %> </li>
            <li class="<%= menu_active?(:finance_grants_report) %>"> <%= link_to "Sprawozdania finansowe dla dotacji", finance_grants_report_path %> </li>
            <% if current_user.is_superadmin %>
              <li class="<%= menu_active?(:all_finance_report) %>"> <%= link_to "Całościowe sprawozdanie finansowe", all_finance_report_path %> </li>
              <li class="<%= menu_active?(:all_finance_one_percent_report) %>"> <%= link_to "Całościowe sprawozdanie finansowe dla 1%", all_finance_one_percent_report_path %> </li>
              <li class="<%= menu_active?(:all_finance_grants_report) %>"> <%= link_to "Całościowe sprawozdania finansowe dla dotacji", all_finance_grants_report_path %> </li>
              <li class="<%= menu_active?(:reports) %>"> <%= link_to "Spis z natury", fixed_assets_report_path %> </li>
            <% end %>
          </ul>
        </li>

        <% if current_user.is_superadmin || current_user.can_manage_any_user || current_user.can_manage_any_unit || current_user.can_manage_any_group %>
        <li class="dropdown <%= menu_active?(:administration_dropdown) %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Administracja <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if current_user.can_manage_any_user %><li class="<%= menu_active?(:users) %>"> <%= link_to "Użytkownicy", users_path %> </li><% end %>
            <% if current_user.can_manage_any_unit %><li class="<%= menu_active?(:units) %>"> <%= link_to "Jednostki", units_path %> </li><% end %>
            <% if current_user.can_manage_any_group %><li class="<%= menu_active?(:groups) %>"> <%= link_to "Grupy", groups_path %> </li><% end %>
            <% if can? :manage, Category or can? :manage, InventorySource %>
                <li class="divider"></li>
                <% if can? :manage, Category %><li class="<%= menu_active?(:categories) %>"> <%= link_to "Plan kont", categories_path %> </li><% end %>
                <% if can? :manage, Grant %><li class="<%= menu_active?(:grants) %>"> <%= link_to "Dotacje", grants_path %> </li><% end %>
                <% if can? :manage, InventorySource %><li class="<%= menu_active?(:inventory_sources) %>"> <%= link_to "Źródła inwentarza", inventory_sources_path %> </li><% end %>
            <% end %>
            <% if current_user.is_superadmin %><li class="<%= menu_active?(:audits) %>"> <%= link_to "Dziennik zmian", audits_index_path %> </li><% end %>
          </ul>
        </li>
        <% end %>
      <% end %>
    </nav>

    <% if user_signed_in? %>
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-sm btn-ghost text-sm text-gray-600">
          <%= current_user.email %> <span class="material-symbols-rounded">arrow_drop_down</span>
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-white rounded-box z-1 w-48 p-1 shadow-sm right-0 border">
          <li><%= link_to edit_user_registration_path do %><span class="material-symbols-rounded text-base">build</span>Ustawienia konta<%end%></li>
          <li><%= link_to destroy_user_session_path, :method => :delete do %><span class="material-symbols-rounded text-base">power_settings_new</span>Wyloguj się<%end%></li>
        </ul>
      </div>
    <% end %>
  </div>
</header>
